<ion-view class="status-background" view-title="Feed">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="row responsive-md">
            <div class="col">
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/cat.jpeg">
                    </div>
                    <a class="item item-icon-left positive" href="#">
                        <i class="icon ion-ios-paw-outline"></i>
                        Про котЭ
                    </a>
                </div>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/dog.jpeg">
                    </div>
                    <a class="item item-icon-left calm" href="#">
                        <i class="icon ion-ios-paw-outline"></i>
                        Про собакЭ
                    </a>
                </div>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/sove.jpg">
                    </div>
                    <a class="item item-icon-left royal" href="#">
                        <i class="icon ion-ios-paw-outline"></i>
                        Про совЭ
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
