<ion-view view-title="Groups">
    <ion-content padding="true" class="has-header">
        <ion-list can-swipe="true">
            <div ng-repeat="group in groups">
                <div class="item item-avatar" ng-click="goToGroup('{{group.id}}','{{group.name}}','{{group.logo}}')">

                        <img ng-src='{{group.logo}}'/>

                        <h2>{{group.name}}</h2>

                        <p>{{group.count}} users</p>

                    <div class="group-arrow">
                        <i class="ion-ios-arrow-right"></i>
                    </div>
                </div>
            </div>
        </ion-list>
        <div style="height: 20px"></div>
    </ion-content>
</ion-view>
