<ion-view view-title="{{infoGroup.titleGroup}}">
    <ion-content overflow-scroll="true" class="has-header">
        <ion-tabs class="tabs-positive tabs-icon-top">

            <ion-tab title="Information" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline">
                <div style="overflow-y: scroll;margin-top: 48px;">
                <div class="info-group-logo">
                    <img ng-src='{{infoGroup.logo}}'/>
                </div>
                <div class="info-group-info padding">
                    <!--<div class="info-group-info-title">Info</div>-->
                    <div class="info-group-info-count info-wrap" ng-click="showFullInfo()">
                        <div class="info-group-info-icon">
                            <i class="icon ion-ios-paper-outline"></i>
                        </div>
                        <div class="text">
                            Information
                        </div>
                    </div>
                    <div class="info-group-info-count info-wrap" ng-click="goToGroupUsers()">
                        <div class="info-group-info-icon">
                            <i class="icon ion-social-rss-outline"></i>
                        </div>
                        <div class="text">
                            1,300 users
                        </div>
                    </div>
                    <div class="info-group-info-count info-wrap" ng-click="goToGroupFriends()">
                        <div class="info-group-info-icon">
                            <i class="icon ion-ios-person-outline"></i>
                        </div>
                        <div class="text">
                            50 users
                        </div>
                    </div>
                    <!--<div class="info-group-info-friends">Info</div>-->
                </div>
                <div class="group-info-full padding" ng-show="fullInfo">
                    МОСКВА, 22 марта. /ТАСС/. Московский клуб ЦСКА обыграл санкт-петербургский СКА со счетом 3:0 на
                    своей
                    площадке
                    в первом матче серии ½ финала Кубка Гагарина Континентальной хоккейной лиги (КХЛ).
                </div>

                <div class="group-wall">
                    <div class="list card" ng-repeat="offer in groupWall">
                        <div class="item item-image">
                            <img ng-src='{{offer.url_img}}'/>
                        </div>
                        <a class="item item-icon-left {{offer.color}}" href="#">
                            <i class="icon ion-ios-paw-outline"></i>
                            {{offer.text}}
                        </a>
                    </div>
                </div>


</div>
            </ion-tab>

            <ion-tab title="Users offer" icon-on="ion-ios-star" icon-off="ion-ios-star-outline">
                <div style="overflow-y: scroll;margin-top: 48px;">
                    <ion-list>
                        <div ng-repeat="userWithStars in usersListInGroupWithStars">
                            <div class="item item-avatar">
                                <!--<img src='{{user.imglogo}}'/>-->
                                <h2>{{userWithStars.name}}</h2>

                                <p>{{userWithStars.stars}} stars</p>
                            </div>
                        </div>
                    </ion-list>
                </div>
            </ion-tab>

        </ion-tabs>

    </ion-content>
</ion-view>
