<ion-view title="Login">

  <ion-content>
    <div class="authWrap">
    <form name="authForm" ng-submit="signIn(username)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input ng-focus="hideInvalidBlock()" type="text" ng-model="username">
        </label>
        <div class="invalid" ng-show="invalidAuthForm">Incorrect login</div>
          <button class="button button-positive button-full" type="submit">Log in</button>
      </div>
    </form>
      </div>
  </ion-content>
</ion-view>
