<ion-view view-title="Profile">
    <ion-content overflow-scroll="true">

        <div class="segment">
            <div class="segment-header background-positive">Продукты</div>
            <select class="item item-select select-long">
                <option ng-repeat="brand in brands"
                        ng-value="{{brand.id}}"
                        nd-selected="$index == 1">{{brand.name}}
                </option>
            </select>

            <div class="segment-progress-wrap">

                <div class="circle-step1">

                    <div class="number-circle">1</div>

                </div>
                <div class="circle-bridge">
                    <div class="circle-bridge-color"></div>
                </div>
                <div class="circle-step2">
                    <div class="number-circle">2</div>
                </div>
                <div class="circle-bridge">
                    <div class="circle-bridge-color"></div>
                </div>
                <div class="circle-step3">
                    <div class="number-circle">3</div>
                </div>
                <div class="circle-bridge">
                    <div class="circle-bridge-color"></div>
                </div>
                <div class="circle-step4">
                    <div class="number-circle">4</div>
                </div>
                <div class="circle-bridge">
                    <div class="circle-bridge-color"></div>
                </div>
                <div class="circle-step5">
                    <div class="number-circle">5</div>
                </div>
            </div>
            <div class="progress" ng-model="Chart.progress" ng-bind-html="progressLabel"></div>
            <div
                    round-progress
                    max="100"
                    current="Chart.progress"
                    color="#45ccce"
                    bgcolor="#eaeaea"
                    radius="100"
                    stroke="15"
                    semi="false"
                    rounded="false"
                    clockwise="true"
                    responsive="false"
                    duration="800"
                    animation="easeInOutQuart"
                    animation-delay="5"></div>
            <!--<div class="item range">-->

                <!--<input type="range" name="volume" ng-model="progressPercent" ng-change="progress = {width: progressPercent+'%'}">-->

            <!--</div>-->
            <!--<div style="display: flex">-->
            <!--<div class="wrap-line-progress">-->
                <!--<div class="line-progress" ng-style="progress"></div>-->
             <!--</div>-->
            <!--<div class="count-percent-line-progress">{{progressPercent}} %</div>-->
            <!--</div>-->


        </div>

    </ion-content>
</ion-view>
