<ion-view title="Реварды">
    <ion-content scroll="false">
        <tab-slide-box tab="{{activeIndexSlide}}">
            <div class="tsb-icons" style="display: none">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll">
                        <a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs"
                           on-finish-render="test()">{{tab.text}}</a>
                    </ion-scroll>
                </div>
            </div>
            <div style="width:100%;height: 60px;background-color: #E8E8E8">
                <div class="progress-subheader" ng-style="{'width': mainProgressWidth+'%','height': '60px'}"></div>
            </div>
            <ion-slide-box show-pager="false"
                           on-slide-changed="slideHasChanged($index)">
                <ion-slide>
                    <ion-scroll style="height:100%" delegate-handle="slide1Scroll">
                        <div class="card rewards" ng-repeat="reward in rewards">
                            <div class="stars-rating">Осталось {{reward.time_to_end}}</div>
                            <div class="item item-image">
                                <img ng-src="{{reward.img}}"/>
                            </div>
                            <div class="progress-percent {{reward.category.color}}">{{reward.category.text}}</div>
                            <div class="btn-add-reward"><i class="ion-ios-plus-empty"></i></div>
                            <div class="item item-divider2">
                                {{reward.name}}
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </ion-scroll>
                </ion-slide>
                <ion-slide>
                    <ion-scroll style="height:100%">
                        <div class="card rewards" ng-repeat="reward in rewards">
                            <div class="stars-rating">Осталось {{reward.time_to_end}}</div>
                            <div class="item item-image">
                                <img ng-src="{{reward.img}}"/>
                            </div>
                            <div class="progress-percent {{reward.category.color}}">{{reward.category.text}}</div>
                            <div class="btn-add-reward"><i class="ion-ios-plus-empty"></i></div>
                            <div class="item item-divider2">
                                {{reward.name}}
                            </div>                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </ion-scroll>

                </ion-slide>
                <ion-slide>
                    <h3>Mail content</h3>
                </ion-slide>
                <ion-slide>
                    <h3>Car content</h3>
                </ion-slide>
                <ion-slide>
                    <h3>Profile content</h3>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>
</ion-view>
