<ion-view view-title="Settings">
    <ion-content>
        <button ion-ripple class="button button-full button-light">
            button-light
        </button>
        <br/>
        <button ion-ripple class="button button-full button-stable">
            button-stable
        </button>
        <br/>
        <button ion-ripple class="button button-full button-positive">
            Full Width Block Button
        </button>
        <br/>
        <button ion-ripple class="button button-full button-calm">
            button-calm
        </button>
        <br/>
        <button ion-ripple class="button button-full button-balanced">
            button-balanced
        </button>
        <br/>
        <button ion-ripple class="button button-full button-energized">
            button-energized
        </button>
        <br/>
        <button ion-ripple class="button button-full button-assertive">
            button-assertive
        </button>
        <br/>
        <button ion-ripple class="button button-full button-royal">
            button-royal
        </button>
        <br/>
        <button ion-ripple class="button button-full button-dark">
            button-dark
        </button>
        <br/>
    </ion-content>
</ion-view>
