.item-menu {
    /*border:1px solid red;*/
}

.icon-item-menu-wrap, .icon-item-text-wrap {
    float: left;
    display: inline-block;
}

.icon-item-menu-wrap {
    font-size: 15pt;
}

.icon-item-text-wrap {
    margin-left: 10px;
}

/**** PROFILE *****/
.profile-userinfo {
    padding: 5px 5px 15px 5px;
}

.profile-userinfo-photo-wrap {
    width: 30%;
    max-width: 113px;
    max-height: 250px;
    display: inline-block;
    float: left;
    margin-right: 25px;
}

.profile-userinfo-photo {
    width: 100%;
    max-width: 113px;
    max-height: 250px;
}

.profile-userinfo-name-wrap {
    max-width: 170px;
    max-height: 250px;
    display: inline-block;
    word-break: normal;
}

.profile-userinfo-name {
    font-size: 14pt;
}

.profile-userinfo-menu {
    margin-top: 6px;
}

.userinfo-menu-icon-wrap, .userinfo-menu-text-wrap {
    float: left;
    display: inline-block;
}

.userinfo-menu-text-wrap {
    margin-left: 10px;
    margin-top: 4px;
}

.userinfo, .followers, .points,
.stars, .programms {
    width: 100%;
    height: 33px;
}

.userinfo-menu-icon-wrap i {
    font-size: 22pt;
}

.state-friendship {
    text-align: center;
    margin-top: 12px;
}

.friendship-add {
    width: 100%;
}

.card {
    margin-top: 0px;
}
.profile-wall{
    margin-top: 10px;
}
.head-profile-wall{
    width:100%;
    /*height: 30px;*/
    background-color: #F8F8F8;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
}
.head-profile-wall-text{
    width: 50%;
    margin: 0 auto;
    padding:5px;
    text-align: center;
}
/*****************/

/******GROUP******/
.item-group{
    display: inline-block;
    float: left;
    width:80%;
    border:1px solid red;
}
.group-arrow{
    float: right;
    margin-top: -31px;
}
.info-group-logo{
    width:100%;
    max-height: 250px;

    overflow: hidden;
}
.info-group-logo img{
    width:100%;

}
.info-group-info{
    height: 55px;
    margin-top: 5px;
}

.info-group-info-icon{
    float: left;
    display: inline-block;
    font-size: 20pt;
}
.info-wrap{
    width:33.33%;
    float: left;
}
.info-group-info-count .text{
    margin-left: 30px;
    margin-top: 5px;
}
.group-info-full{
    margin-top: -15px;
}
.tab-item{
    max-width: 49.9%;
}
/*****************/