.item-menu {
    /*border:1px solid red;*/
}

.icon-item-menu-wrap, .icon-item-text-wrap {
    float: left;
    display: inline-block;
}

.icon-item-menu-wrap {
    font-size: 15pt;
}

.icon-item-text-wrap {
    margin-left: 10px;
}

/*.has-header {*/
    /*margin-top: 5px;*/
/*}*/

/**** PROFILE *****/
.profile-userinfo {
    padding: 5px 5px 15px 5px;
}

.profile-userinfo-photo-wrap {
    width: 30%;
    max-width: 113px;
    max-height: 250px;
    display: inline-block;
    float: left;
    margin-right: 25px;
}

.profile-userinfo-photo {
    width: 100%;
    max-width: 113px;
    max-height: 250px;
}

.profile-userinfo-name-wrap {
    max-width: 170px;
    max-height: 250px;
    display: inline-block;
    word-break: normal;
}

.profile-userinfo-name {
    font-size: 14pt;
}

.profile-userinfo-menu {
    margin-top: 6px;
}

.userinfo-menu-icon-wrap, .userinfo-menu-text-wrap {
    float: left;
    display: inline-block;
}

.userinfo-menu-text-wrap {
    margin-left: 10px;
    margin-top: 4px;
}

.userinfo, .followers, .points,
.stars, .programms {
    width: 100%;
    height: 33px;
}

.userinfo-menu-icon-wrap i {
    font-size: 22pt;
}

.state-friendship {
    text-align: center;
    margin-top: 12px;
}

.friendship-add {
    width: 100%;
}

.card {
    margin-top: 0px;
}

.profile-wall {
    margin-top: 10px;
}

.head-profile-wall {
    width: 100%;
    /*height: 30px;*/
    background-color: #F8F8F8;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
}

.head-profile-wall-text {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

/*****************/

/******GROUP******/
.item-group {
    display: inline-block;
    float: left;
    width: 80%;
    border: 1px solid red;
}

.group-arrow {
    float: right;
    margin-top: -31px;
}

.info-group-logo {
    width: 100%;
    max-height: 250px;

    overflow: hidden;
}

.info-group-logo img {
    width: 100%;

}

.info-group-info {
    height: 55px;
    margin-top: 5px;
}

.info-group-info-icon {
    float: left;
    display: inline-block;
    font-size: 20pt;
}

.info-wrap {
    width: 33.33%;
    float: left;
}

.info-group-info-count .text {
    margin-left: 30px;
    margin-top: 5px;
}

.group-info-full {
    margin-top: -15px;
}

.tab-item {
    max-width: 49.9%;
}

/*****************/

.authWrap {
    margin-top: 83%;
}

.invalid {
    padding: 5px;
    color: red;
    text-align: center;
}

.wrapFormMessage {
    display: inline-flex;
    width: 100%;
    padding: 0 10px 10px 10px;
}

.wrapTextarea {
    width: 80%;
}

.wrapAddMessage, .wrapExchangeMessage {
    width: 9.99%;
    height: 35px;
    text-align: right;
    font-size: 40px;
}

.wrapExchangeMessage {
    text-align: left;
}

.bar-footer {
    height: 60px;
}

/*.bar{*/
/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
/*}*/

.message {
    width: 100%;
}

.messageText {
    width: 65%;
    padding: 5px;
    border-radius: 3px;
    position: relative;
}

.myMessage {
    background-color: white;
    float: left;
    margin-top: 10px;

}

.notMyMessage {
    margin-top: 10px;
    background-color: #C2E8C3;
    float: right;
}

.messageTextArea {
    resize: none;
    overflow-y: scroll;
}

.select-exchange {
    width: 100%;
}

.select-login {
    width: 100%;
    background: inherit;
    color: aqua;
    border: 0;
}

.circle {
    width: 4px;
    height: 4px;
    border: 1px solid white;
    border-radius: 2px;
    position: absolute;
    bottom: 0;

}

.circle-left {
    left: 0;
}

.circle-right {
    right: 0;
}

.circle-success {
    background-color: green;
}

.circle-unsuccess {
    background-color: red;
}

.dynamic_background {
    background: url("../img/back.gif");
    background-size: contain;
}

.head-menu {
    height: 175px;
    width: 100%;
}

.menu-background .item {
    border: none;
}

.menu-background, .head-menu, .menu-background a.item-content {
    background-color: #6DC94A;
    /*background-image: url("../img/abstraccshiya.jpg");*/
    color: #F1FCFF;
}

/* profile */
.segment {

}

.segment-header {
    height: 50px;
    text-align: center;
    padding-top: 12px;
    font-size: 25px;
    font-weight: 600;

}

.select-long {
    width: 100%;
    background: inherit;
    border: 0;
}

.segment-progress-wrap {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    display: inline-block;
}

.circle-step1,
.circle-step2,
.circle-step3,
.circle-step4,
.circle-step5 {
    border: 1px solid blueviolet;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    float: left
}

.background-circle-step1 {
    border: 1px solid blueviolet;
    background-color: blueviolet;
    width: 20%;
    height: 45px;
    border-radius: 25px;
    float: left
}

.number-circle {
    width: 45px;
    height: 45px;
    font-size: 25px;
    margin: 9px 14px 0px;
}

.circle-bridge {
    float: left;
    width: 30px;
    height: 45px;
}

.circle-bridge-color {
    height: 10px;
    width: 100%;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    margin-top: 17px;
}

.wrap-line-progress {
    margin-top: 10px;
    width: 70%;
    height: 16px;
}

.line-progress {
    height: 10px;
    background-color: blueviolet;
    transition: width 0.1s;
    width: 0%;
}

progress::-webkit-progress-value {
    background: blue;
}

.count-percent-line-progress {
    width: 29%;
    margin-top: 5px;
    text-align: center;
}

/***********/
.background-positive {
    background-color: #387EF5;
    color: white;
}

.background-balanced {
    background-color: #33CD5F;
}

.background-royal {
    background-color: #886AEA;
}

.progress {
    position: absolute;
    color: #38475C;
    font-weight: 500;
    line-height: 1;
    top: 34%;
    left: 38%;
    font-size: 51.7143px;
}

/***** rewards ******/
.progress-bar {
    padding: 0;
    border: 0;
    background-color: #f4f4f4;
}

.progress-reward {
    padding: 0;
    margin: 0;
    border: 0;
}

.progress-line {
    /*width: 60%;*/
    height: 35px;
    background-color: indigo;
}

.progress-percent {
    width: 90%;
    height: 24px;
    background: transparent;
    margin-top: -34px;
    z-index: 2;
    color: white;
    position: absolute;
    margin-left: 17px;
    font-size: 24px;
    text-align: left;
}

.stars-rating {
    width: 35%;
    height: 30px;
    font-size: 13px;
    position: absolute;
    z-index: 3;
    text-align: right;
    padding-top: 3px;
    padding-right: 7px;
    color: white;
    right: 10px;
    background-color: rgba(0,0,0,0.3);
}

.white {
    color: white;
}

.black {
    color: black;
}

.progress-subheader {
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    background: linear-gradient(to bottom, #C3E7B2, #70C84E);
    -webkit-transform: translate3d(0,0,0);
}
.card.rewards:first-child{
    margin-top: 11px;
}
.item-divider2{
    padding-top: 8px;
    padding-bottom: 8px;
    color: #222;
    font-weight: 400;
    text-align: left;
    font-size: 26px;
}
.btn-add-reward{
    width:40px;
    height: 40px;
    position: absolute;
    right: 30px;
    z-index: 4;
    margin-top: -20px;
    background-color: #78BB5C;
    color:white;
    font-size: 27px;
    padding-top: 4px;
}
.btn-add-reward:active{
    background-color: white;
    color:#78BB5C;
}
.pane, .view{
    background-color: #E8E8E8 !important;
}

.btn-remove-reward{
    width:40px;
    height: 40px;
    position: absolute;
    right: 30px;
    z-index: 4;
    margin-top: -20px;
    background-color: #F45D40;
    color:white;
    font-size: 27px;
    padding-top: 6px;
    text-align: center;
}
.btn-remove-reward:active{
    background-color: white;
    color:#F45D40;
}
[nav-bar-transition="android"] [nav-bar="active"] .bar,
[nav-bar-transition="android"] [nav-bar="entering"] .bar,
[nav-bar-transition="ios"] [nav-bar="active"] .bar,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar{
    background-color: #6DC94A;
}
.wrap-circle-chart{
    position: relative;
    text-align: center;
    margin-top:15px;
}
.profile-card .blur-img{
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.profile-card-logo{
    width: 90px;
    /* border: 1px solid red; */
    text-align: center;
    position: absolute;
    z-index: 3;
    margin-top: 14px;
    margin-left: 14px;
    background-color: white;
    -webkit-box-shadow: 0 3px 6px -2px #777;
    -moz-box-shadow: 0 3px 6px -2px #777;
    box-shadow: 0 3px 6px -2px #777;
}
.profile-card-logo .org-logo{
    width:60px;
}
.profile-card-name{
    width: 220px;
    height: 33px;
    text-align: center;
    position: absolute;
    z-index: 3;
    margin-top: 14px;
    margin-left: 110px;
    color: white;
    font-size: 28px;
    text-shadow: 0px 0px 12px #777;
}
.profile-card-chart-wrap{
    margin-top: -70px;
    position: absolute;
    z-index: 30;
    width: 94.3%;
    background-color: rgba(0,0,0,0.2);
    color:white;
    padding-top: 5px;
}
.profile-card-multiplicator{
    width: 46%;
    float: left;
    text-align: right;
    margin-top: 11px;
    letter-spacing: 1px;
}
.profile-card-chart{
    width: 20%;
    float: left;
    margin-left: 30px;
}
.profile-card-chart-percent{
    position: absolute;
    z-index: 3;
    margin-top: 19px;
    margin-left: 19px;
}
.profile-card-btn-arrow{
    width:40px;
    height: 40px;
    position: absolute;
    right: 15px;
    z-index: 4;
    margin-top: -25px;
    background-color: #78BB5C;
    color:white;
    font-size: 27px;
    text-align: center;
}
.profile-card-btn-arrow:active{
    background-color: white;
    color:#78BB5C;
}
.profile-card-btn-arrow div:first-child{
    margin-bottom: -17px;
}
.card-description-wrap{
    height: 40px;
}
.profile-card .item-avatar{
    float: left;
}
.card-description-text{
    width:53%;
    float:left;
    margin-top: 3px;

}
.card-description-percent{
    width:40%;
    margin-top: 3px;
    font-size: 25px;
    color:#78BB5C;
}
.custom-item{
    max-height: 65px;
    border:0;
    /*min-height: 40px;*/
}
.custom-item .item-avatar{
    padding-left: 55px;
}
/***** tab scroll ****/
.slider-slide h3 {
    color: #fff;
    margin-top: 10px;
}

.scroll {
    height: 100%;
}

.tabbed-slidebox .tsb-icons:after {
    display: none;
}
.overflow-scroll .scroll{
    height: 94.5%;
}
/********************/
/**/
/*******************/